{ "ConnectionStringTable":{ "default":"SERVER=(local);DATABASE=weixin;UID=sa;PWD=unqjm2f72396440" }, "DbType":{ "default":"sqlserver" }, "AssemblyList":[ "Wlniao.Model", "XCore" ], "IsCheckDatabase":true, "TablePrefix":"", "ContextCache":true, "ApplicationCache":false, "ApplicationCacheMinutes":0, "ApplicationCacheManager":"", "MetaDLL":"", "Mapping":[  ], "Interceptor":[  ] }