<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="http://windows-obqwgow:53880/SMSService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISMSService"
        contract="SMSService.ISMSService" name="WSHttpBinding_ISMSService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="bindingConfiguration">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISMSService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebHttpSer.SMSServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WebHttpSer.SMSServiceBehavior" name="SmsService.Service1">
        <endpoint address=""  bindingConfiguration="bindingConfiguration"  binding="wsHttpBinding" contract="SmsService.IService1">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding"   contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
